* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  zoom:90%;
}

header {
  display: flex;
  width: 100%;
  height: 4em;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 11;
  transition: all 0.8s;
}

header.header-an {
  background-color: #161616;
  position: fixed;
}

.opt_header {
  cursor: pointer;
  transition: background-color 1s;
  color: #fff;
  text-decoration: none;
  z-index: 111;
  font-size: 1.2em;
  width: 60px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

@keyframes border-animation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.borde-rojo {
  position: relative;
}

.borde-rojo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(255, 0, 0);
  animation: border-animation 0.9s ease forwards;
}


.inicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.cartel-text {
  color: yellow;
  filter: drop-shadow(5px 5px 15px yellow);
}

.dual-text {
  color: blue;
  filter: drop-shadow(5px 5px 15px blue);

}

.medello-text {
  color: red;
  filter: drop-shadow(5px 5px 15px red);
}

.content-text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 50px;
}

.decricion-text {
  width: 500px;
  color: #ffffff;
  text-shadow: 0px 0px 15px #fff;
  margin-top: 20px;
  text-wrap: balance;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  background-color: #181818;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  gap: 8px;
  margin-top: 10px;
  transition: transform .1s ease-in-out;

  &:hover {
    background-color: #1f1e1e;
    transform: scale(1.1);
  }
}

.img-ar {
  width: 30px;
  height: 30px;
}

.content-links {
  display: flex;
  gap: 10px;
}

.content-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img-cartel {
  border-radius: 30px;
  filter: drop-shadow(5px 5px 40px #cc0000);
}

.arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  right: 50%;
  color: #fff;
  filter: drop-shadow(5px 5px 10px rgb(255, 0, 0));
  animation: moverArriba 1s ease-in-out infinite alternate;
  transform: rotate(180deg);
}

@keyframes moverArriba {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.sobre,
.mienbros-fundadores,
.alianzas {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.content-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-flow: wrap;
  gap: 100px;
  margin-top: 30px;
}

.operaciones,
.poderio {
  background-color: rgb(41, 41, 41);
  border: 2px solid #505050;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px rgb(61, 61, 61);
  width: 500px;
  text-align: center;
  text-wrap: balance;
}

.title-sobre {
  margin-bottom: 30px;
  color: red;
}

.text-sobre {
  color: #fff;
}

.mienbros-fundadores {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.title {
  color: red;
  font-size: 2.3em;
  text-align: center;
  margin-bottom: 70px;
}

.content-mm-div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.me {
  border: 2px solid #505050;
  border-radius: 30px;
  width: 250px;
  height: 270px;
  display: flex;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.5);
  animation: me-an 1s ease-in-out infinite alternate;
}

@keyframes me-an {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

.me_dñ {
  margin-top: 30px;
  animation: me-an 1s ease-in-out infinite alternate;
  animation-delay: 100ms;
}

.me_jf {
  margin-top: 150px;
  animation: me-an 1s ease-in-out infinite alternate;
  animation-delay: 300ms;
}

.me_sj {
  margin-top: 250px;
  animation: me-an 1s ease-in-out infinite alternate;
  animation-delay: 500ms;
}

.text-dñ {
  color: red;
  font-size: 1.7em;
  margin-top: 10px;
  filter: drop-shadow(10px 10px 15px red);
}

.text-jf {
  color: rgb(199, 0, 0);
  font-size: 1.7em;
  margin-top: 10px;
  filter: drop-shadow(10px 10px 15px rgb(199, 0, 0));

}

.text-sj {
  color: rgb(170, 0, 0);
  font-size: 1.7em;
  margin-top: 10px;
  filter: drop-shadow(10px 10px 15px rgb(170, 0, 0));
}

.list-name {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto;
  margin-top: 10px;
}

.nm-me {
  text-decoration: none;
  list-style: none;
}

.icon-mienbro {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
}

.content-mm {
  display: flex;
  margin-top: 6px;
  gap: 13px;
  align-items: center;
}

.NCF {
  color: gray;
  filter: drop-shadow(5px 5px 15px gray);
}

.CTNG {
  color: rgb(64, 64, 243);
}

.GSC {
  color: #efb810;
  filter: drop-shadow(5px 5px 15px #efb810);
}

.content-info-sl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-flow: wrap;
}

.al-info {
  width: 300px;
  border-top: 4px solid red;
  padding: 10px;
  background-color: rgb(39, 38, 38);
}

.al-cd,
.al-text,
.al-nm {
  margin-top: 5px;
  text-align: center;
  text-wrap: balance;
}

.al-text {
  text-align: left;
}

.actividades {
  margin-top: 100px;
}

.content-act {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.act {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: transform .3s;
  color: red;

  &:hover {
    border-color: #ff0000;
    transform: scale(1.1);
  }
}

.act_re {
  margin-top: 5px;
}

.act_con {
  margin-top: 30px;
}

.act_ro {
  margin-top: 20px;
}

.act_se {
  margin-top: 40px;
}

.content-wd {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 111;
  top: 0;
  background-color: #0000004b;
}

.wd {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 111;
  transform: translate(-50%, -50%);
  background-color: #161616;
  max-width:600px;
  border-radius: 10px;
  padding: 10px;
}

.cerrar {
  background-color: #ffffff00;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: end;
  position: absolute;
  top: 10px;
  right: 10px;
}

.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease;
}

.text-content-wd {
  text-wrap: balance;
  padding: 30px;
}

.title-wd {
  margin-bottom: 10px;
  margin-top: 20px;
}

.videos {
  margin-top: 100px;
  margin-bottom: 50px;
}

.content-videos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  flex-flow: wrap;
}

.img-video {
  border-radius: 8px;
  width: 250px;
  cursor: pointer;
}

.card-video {
  width: 250px;
}

.title-videos {
  padding: 1px;
}

/* media quierys */

@media (max-width: 1000px) {
  .inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .img-cartel {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0%;
    object-fit: cover;
  }

  .name-cartel,
  .decricion-text {
    display: none;
  }

  .content-links {
    position: absolute;
    width: 100%;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: 0px auto;
    display: flex;
    justify-content: center;
  }

  .content-mm-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .me_dñ,
  .me_jf,
  .me_sj {
    margin-top: 20px;
  }
  .wd{
    width: 90%;
  }
  .poderio,.operaciones{
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}
